*.cover
*.log
*.pyc
*.pyd
*.pyo
.cache
.coverage
.coverage.*
.git
.gitignore
.hypothesis
.idea
.mypy_cache
.pytest_cache
.Python
.tox
__pycache__
coverage.xml
env
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
venv
